/* Common styles for all pages */
.navbar {
  background-color: #15259e;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #fff;
  background-image: linear-gradient(to right, #fff 0%, #ff0000 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1.5rem;
  height: 100%;
  transition: all 0.3s ease;
  font-size: 1.3rem;
  font-weight: 500;
}

.navbar__links:hover {
  color: #ff0000;
  transform: scale(1.05);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 25px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background: #ff0000;
  color: #fff;
  transition: all 0.3s ease;
  font-size: 1.3rem;
  font-weight: 500;
}

.button:hover {
  background: #cc0000;
  transition: all 0.3s ease;
}

/* Responsive styles */
@media screen and (max-width: 960px) {
  .navbar__container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    position: relative;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 30px;
  }
  
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }
  
  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }
  
  #navbar__logo {
    padding-left: 25px;
  }
  
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }
  
  .navbar__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  
  .navbar__toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  
  .navbar__item {
    width: 100%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
} 